<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vappusaa</title>
    </head>
    <body>
        <header>
            <h1>Vappusää</h1>
        </header>
        <main>
            <p>Sataako vappuna Kaivopuistossa?</p>
            <p>Vappuaatto 30.4 --- {{may_eve_rains}}</p>
            <p>Vappupäivänä 1.5. --- {{may_day_rains}}</p>
        </main>
        <footer>
            <p>
                Made by
                <a href="https://www.cs.helsinki.fi/u/tonylam/">Tony Lam</a>
            </p>
            <a href="https://open-meteo.com/">Weather data by Open-Meteo.com</a>
        </footer>
    </body>
</html>
