<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vappusaa</title>
    </head>
    <body>
        <header>
            <h1>Welcome to Vappusaa</h1>
        </header>
        <main>
            <p>May eve 30.4 rains: {{may_eve_rains}}</p>
            <p>May day 1.5. rains: {{may_day_rains}}</p>
        </main>
        <footer>
            <p>Made by Tony Lam</p>
            <a href="https://open-meteo.com/">Weather data by Open-Meteo.com</a>
        </footer>
    </body>
</html>
